<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p><%= message %></p>
<h2>Chat</h2>
<form method="post" action="/remove/<%= host %>">
  <h5>Remove host</h5>

  <input type="submit" value="Submit" />
</form>

<form method="post" action="/register/<%= host %>">
  <h5>Register user</h5>
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="password" placeholder="password" />
  <input type="submit" value="Submit" />
</form>

<form method="post" action="/add/<%= host %>">
  <h5>Add users</h5>
  <input type="text" name="username1" placeholder="username1" />
  <input type="text" name="password1" placeholder="password1" />
  <input type="text" name="username2" placeholder="username2" />
  <input type="text" name="password2" placeholder="password2" />  
  <input type="submit" value="Submit" />
</form>
   
<form method="post" action="/unregister/<%= host %>">
  <h5>Unregister user</h5>
  <input type="text" name="username" placeholder="username" />
  <input type="submit" value="Submit" />
</form>

 <form method="post" action="/remove/<%= host %>">
  <h5>Remove users</h5>
  <input type="text" name="username1" placeholder="username1" />
  <input type="text" name="username2" placeholder="username2" />
  <input type="submit" value="Submit" />
</form>

<form method="post" action="/change/<%= host %>">
  <h5>Change user password</h5>
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="newPass" placeholder="newPass" />
  <input type="submit" value="Submit" />
</form>

<form method="post" action="/modify">
  <h5>Change user passwords on all hosts</h5>
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="newPass" placeholder="newPass" />
  <input type="submit" value="Submit" />
</form>  
</body>
</html>
